<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="EntityFramework.IBM.DB2" version="6.0.6" targetFramework="net472" />
  <package id="System.Data.DB2.EntityFramework.Migrations" version="6.0.0" targetFramework="net472" />
</packages>